name: CI - Ejemplo Spring Boot
on:
  push:
    branches: [main]
  pull_request:
jobs:
 tests_builds:
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v3
   - name: Set up con JDK 21
     uses: actions/setup-java@v4
     with:
      java-version: '25'
      distribution: 'temurin'
   - name: Build usando Maven
     run: mvn clean install
   - name: Build oficial
     run: mvn clean package -DskipTests
   - name: Executing app Spring Boot en background
     run: |
      java -jar target/simple-server-0.0.1-SNAPSHOT.jar --spring.profiles.active=dev &
      echo $! > springboot.pid
     env:
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
   - name: Esperar
     run: sleep 10
   - name: Enviar un request a la app
     run: curl -i http://localhost:8080/api/v1/saludo
   - name: Detener Spring Boot
     run: kill -9 $(cat springboot.pid)
