name: CI - Ejemplo Spring Boot
on:
  push:
    branches: [main]
  pull_request:
jobs:
 build:
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v3
   - name: Set up con JDK 21
     uses: actions/setup-java@v4
     with:
      java-version: '25'
      distribution: 'temurin'
   - name: Build usando Maven
     run: mvn clean install
   - name: Executing app Spring Boot
     run: mvn spring-boot:run &
     env:
      SPRING_PROFILES_ACTIVE: dev
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
   - name: Esperar y probar
     run: |
      sleep 10
      curl -i http:/localhost8080/api/v1/saludo
   - name: Detener Spring Boot
     run: pkill -f 'org.springframework.boot.loader.JarLauncher'
