name: CI - Ejemplo Spring Boot
on:
  push:
    branches: [main]
  pull_request:
jobs:
 build:
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v3
   - name: Set up con JDK 21
     uses: actions/setup-java@v4
     with:
      java-version: '25'
      distribution: 'temurin'
   - name: Build usando Maven
     run: mvn clean install
